:root {
  --add-button-size: 50px;
  --side-button-size: 50px;
  --bw: 4px;
  --border-color: #ccc;
  --canvas-width: 800px;
  --canvas-height: 500px;
  --small-margin: 10px;
  --large-margin: 25px;
  --padding: 5px;
  --large-font: 30px;
}

body {
  background-color: #333;
  margin: 0;
}

#header {
  box-sizing: border-box;
  height: calc(var(--large-font) + 2*var(--padding));
  width: calc(100% - 2*var(--small-margin));
  border-width: var(--bw);
  font-size: var(--large-font);
  color: black;
  padding: var(--padding);
  margin-right: 0;
  margin-bottom: var(--large-margin);
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
}

canvas {
  width: var(--canvas-width);
  height: var(--canvas-height);
}

#pages {
  display: flex;
  flex-wrap: wrap;
}

.margined {
  margin-top: var(--small-margin);
  margin-left: var(--small-margin);
  margin-right: calc(var(--large-margin) - var(--small-margin));
  margin-bottom:  calc(var(--large-margin) - var(--small-margin));
}

.border {
  border-style: solid;
  border-color: var(--border-color);
  border-width: var(--bw);
}

.white {
  background-color: white;
}

.top {
  vertical-align: top;
}

.bottom {
  vertical-align: bottom;
}

.button {
  text-align: center;
  width: var(--add-button-size);
  height: var(--add-button-size);
  line-height: var(--add-button-size);
  cursor: pointer;
}

.bottom .button {
  margin: 10px 0 0 0;
}

.top .button {
  margin: 0 0 10px 0;
}

.caption_td {
  max-width: var(--canvas-width);
}

.caption {
  border-style: solid;
  border-width: 0 var(--bw) var(--bw) var(--bw);
  font-size: 20px;
  color: black;
  padding: 5px;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: gray;
}

.small {
  width: var(--side-button-size);
  height: var(--side-button-size);
  line-height: var(--side-button-size);
}

.right-side {
  border-width: var(--bw) var(--bw) var(--bw) 0;
}

.console_placeholder {
  width: 100%;
  height: 100px;
}

.console {
  position: fixed;
  background-color: rgba(255, 255, 128, 0.7);
  border-color: rgb(255, 255, 128);
  border-style: solid;
  border-width: 1px 0 0 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  font-family: monospace;
}
